/*
6-8' 

Poi fino a 10' ...

*/

.box {

}

.box:hover {
    animation-name: zoomin;
    animation-duration: 0.5ms;
    margin: 10px;
}

@keyframes zoomout {
    0% {
        margin: 10px;
    }

    100% {
        margin: 15px;
        /*4-5' ...*/
    }
}