/*
17.12 II REC 3'30''
VEDI slide css3.pdf

NON è un linguaggio di programmazione ma DI MARK-UP, perché mancano ...6'

Come possiamo usare i fogli di stile?
1. tag <style>: è il modo più sporco, perché ogni el ha il suo che
    definisce solo lui. Ma il code dev'essere più condivisibile possibile
2. stili 'in line' 6'
3. esterno: uno o più fogli di stile. Best one perché possiamo importarli
    dovunque ci servano, riciclarli.

SELETTORI
1. Selectile selector
2. ...8'
3. classi: più flessibili? Perché se io ho Roma, Milano e Roma a cui
    devo assegnare tot regole, gliele posso far condividere tramite
    la classe

Posso dare a un el html + classi: così applico + regole css allo stesso
el contemporaneam, e poi vedo come interagiscono tra di loro.

I selettori possono essere ANNIDATI: cioè possiamo definire una 
sequenza dei sel per descrivere in css l'alberatura rispetto alla
quale devono avvenire

Eg: 
con: ul > li
Stiamo dicendo: tutti gli elementi <li> che sono figli diretti di 
<ul>, nessun altro elemento <li>
<ul>
->   <li></li>
     <ol>
         <li></li>
     </ol>
 </ul>
^Solo il primo <li> verrà influenzato da questo selettore
Il secondo è molto dentro, gerarchicamente, e non subisce le sue
regole.

Se invece voglio prendere anche il secondo <li>, usiamo un selettore
meno specifico:
ul li {...}
Tutti gli operatori li sotto ul.
Se voglio applicare le regole sia a ul che li:
ul, li {...}
^cioè fare un elenco di selettori.


Se invece:

    <div></div>
    <p></p>
    <p></p>

div + p { … } -> prende div e primo p, quello subito adiacente
~ (ALT + 126)
div ~ p { … } -> prende div ed entrambi i p

Nei querySelector mettiamo del selettori CSS:
a[target] { … } -> prendi tutti i tag <a> che hanno la proprietà tag
a[target="_blank"] { … } -> prendi tutti i tag <a> che hanno la 
    propriietà tag valorizzata a "_blank"
*/

/*
CASCADING style sheets: perché le regole si leggono e applicano 
dall'alto verso il basso: le istruzioni si applicano un pezzo alla
volta mentre vengono lette: 
p {
    color: aqua;
    text-transform: uppercase;
}

p {
    color: black;
}
^Il testo sarà in nero, con l'uppercase: fusione di regole in cui 
a parità di regola sarà usata l'ultima descritta.

@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
^Se voglio modificare una cosa di bootstrap, posso scriverlo qui,
ed essendo cascading la mia regola sarà l'ultima


SPECIFICITA': v. slide 18
Quindi se css di p dice rosso, ma la classe dell'el p dice rosso,
p sarà in rosso.
Se p ha anche un id e la classe dell'id dice blu, il testo sarà blu.
Se poi in p ci metti uno stile in-line verde, p sarà verde.


COLORI E FONT
Possiamo esprimere i colori in diversi modi: 
1. usando il nome in inglese. 140 colori tra cui scegliere nei CSS3, 
    meno in CSS2 e ancora meno in CSS1
2. colore esadecimale: sequenza di tre coppie di valori esadecimali,
    che dicono quanto valgono i colori rosso, blu e verde
3. colore RGB o RGBA, che sono i migliori. Va da 0 a 255.
    A: permette di identificare il canale alfa, che definisce una
    trasparenza (0: completamente trasparente

47'
...


*/

/*
 * REC I 21.12 recorder, no vid
 * 
 * Vedi notebook
 * Con i CSS, ciascun elemento è contenuto in una "scatola". Di default,
 * i bordi NON li vedo: come se fossero trasparenti e invisibili, ma ci
 * sono.
 * Padding = spazio tra il contenuto e il bordo. Permette aria DENTRO il
 *           contenitore, tra content e contenitore. Distanza tra i bordi 
             invisibili
 * Margine = spazio tra il bordo e l'elemento adiacente, dal pov esterno
 *           della scatola. Spazio esterno: permette spazio tra scatole
 *           diverse. Spazio tra un elemento e l'altro

 * El block: si prende TUTTA la dimensione del contenitore in width.
 * El line: si dimensionano in base al content.
 * Posso dare dimensioni all'el in-line, con attributi width & height.
 * Diverse unità di misura: pixel, em, cm, percentuali.
 * Con responsive design, % ed em sono le più usate: MISURE RELATIVE.
 * cm sono usati per css specifici per layout di stampa: come declinare 
 * info per un foglio. NON si usano per il responsive web design: px e cm 
 * sono MISURE ASSOLUTE, perché non cambiano mai.

 * MISURE ASSOLUTE
 * V. slide, p.38 per tabella.
 * 
 * MISURE RELATIVE
 * Responsive web design: rappresentaz grafica di el che, thr dimensioni 
 * RELATIVE, cambiano a seconda della finestra.
 * Ciascuna unità di misura rel dimensiona l'el rispetto a un el di 
 * riferimento: il contenitore. 
 * Percentuale: misura relativa all'el contenitore.
 * Invece, le unità di misura em e rem sono + complesse: sono riferite 
 * alla dimensione del font.
 * em: relativa alla dimensione del font dell'el
 * rem: relativa alla dimensione del font dell'el principale
 * 2rem => voglio il doppio (in termini di dimensione) di quanto espresso 
 *         sul principale (il body) nel font-size.

 * max-width: dimensione massima di un el
 * min-width: dimensione minima di un el
 * max-width esegue un override su width.

 * MARGINI 
 * Due versioni: 
 * - margin-top, margin-right, margin-bottom, margin-left
 * - margin: 10px, 5px, 10 px, 5px
 * ^In senso orario: margin: (top), (right), (bottom), (left)
 * O anche: margin: (top&bottom), (right&left)
 * Se metti 'auto' per right&left, l'el si centrerà da solo (v. quad.): 
 * margin: 0, auto;
 * 
 * PADDING
 * Stesse proprietà del margin
 * 
 * Mentre il margine NON aumenta le dimensioni dell'el, il padding e il 
 * border l'aumentano. Se do a el: 
 * width: 300px; 
 * border: 2px;
 * padding: 10px;
 * La larghezza sarà: 300 + 2*2 + 10*10 = 324px.
 * Quindi, se il contenitore è di 320px, questo el straborderà.
 * Invece il margin, essendo fuori, NON influenza la dimensione di un el. 
 * 
 * BORDER
 * Dimensione, stile e colore della linea che delimita il perimetro 
 * dell'el. Il bordo sarà DOPO la larghezza espressa e il padding. 
 * Stile: solid (linea continua), dotted (puntinato)...
 * Colore: notazione inglese, plesadecimale, rgb, rgba
 * Puoi scendere a un livello di dettaglio altissimo con cose come 
 * border-style-left, border-color-right ecc 
 * radius: rende gli angoli smussati. 
 * Cerchio perfetto: border-radius: 50%
 * 
 * 
 */

 /*
 * 23.12 vid rec I e II
 * vedi codice di Andrea
 * 
 * in console, Elements, cerchi di individuare el scrivendo:
 *  document.querySelector('.weather-widget > p[id]');
 *      ^Ti restituisce il p 'forecast'
 * 
 * Come poter prendere il secondo p, senza id o classi?
 *  document.querySelector('.weather-widget > p:not([id])');
 *      ^Ti restituisce il secondo p
 * 
 * Così NON VA BENE:
 *  document.querySelector('.weather-widget > p[id!=""]');
 * Perché per i CSS, per dire "non qualcosa", così: 
 * 'tag:not([attributoAssente])'
 * 
 * Quindi: 
 *  .weather-widget > p:not([id]) {
        //roba
 *  }
 * 
 * Questo lo segni nel CSS, non nel js con document.querySelector, 
 * lo scriviamo a quel modo solo quando lo proviamo nella console.
  

 * Gli elementi IN LINE NON sono soggetti al margin: su uno span non
 * puoi utilizzarli. Neanche il padding.
 * Con inline-block posso far diventare span un el simil-block.
 * Ma non risolve il problema, perché si porta tutto dietro, you 
 * don't just affect it with padding/margin.
 * Possiamo provare con l'interlinea: line-height? Ma non funziona

 * Se scrivo: 
        .weather-widget > #forecast, .weather-widget > p > #feel-like {
            //roba
        }
 * allora 'roba' varrà  sia per #forecast che #feel-like 
 */

 /*
 * 27.12 vid rec
 * v. primi 13'
 * 
 * 
 * 
 */

 /*
 * 28.12 vid rec
 * 41'
 * ...
 * usare ul > li per nav bar
 * 
 * display: inline-block;
 * ^una volta fatto questo, perdo il disco della lista: è come se non 
 * fosse più un el non ordinato
 * poi metto:
        margin-top: 0px;
 * e così la "lista" di sezioni della barra di navigazione non è più 
 * spostata in basso rispetto alla navbar
 * 
 * Per rendere gli elementi cliccabili non solo sulla scritta (perché 
 * sono <a>), il padding non lo metto su <nav> ma sul singolo elemento 
 * della lista <li> + sulla <a> (della stessa misura): così, il padding 
 * di <li> mi prende lo spazio che mi serve (e quindi la scritta non 
 * sarà in alto ma al centro di <nav>) e il padding di <a> mi rende 
 * cliccabile tutta quell'area di padding che ho dato a <li>.

 * Metto inoltre height: 75px; a <nav> per renderlo dell'altezza 
 * precedente (25 padding top + 25 padding bottom + 25 li)

 
 * Se fai più file, usa l'import
 * vedi 59'-1h part I
 * 
 * 
 * FONT
 * O obblighiamo gli utenti a scaricare i font (porcata vecchia) o 
 * cerchiamo di includerli attraverso il CSS.
 * Importali da google font: 
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
 * Lo specifichiamo poi con: 
        font-family: Lato;
 * In questo caso, se ho caricato il font non ho bisogno di indicare 
 * alternative.
 * 

 * Jumbotron: el in bootstrap usato per indicare el che attira 
 * l'attenzione con un titolo grande.
 * Per evitare di bloccare bootstrap in caso lo inserissi nel progetto, 
 * non chiami "jumbotron" la classe ma "jumbo"

    .box > h3 {}
 * ^significa che h3 dev'essere un figlio diretto di box.
    .box h3 {}
 * ^significa che h3 dev'essere dentro box, ma potrebbe essere un figlio 
 * di un altro figlio, non diretto.

 * 1h55' VEDI COME HA PRESO LE ICONE????



 * PART II vid
 * 
        !important
 * ^Messo nel CSS accanto a una regola, dovrebbe override all other 
 * things.
 * 
 * 14'40''
 * font awesome per la freccetta di "VAI ->"
 * trovi "using the npm download"
 * anzi lineicons: 
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
 * Qui possiamo scegliere l'icona e dal sito prendere il tag html da 
 * aggiungere al file html.
 * Poi con font-size e font-weight puoi sistemarti la cicciosità della 
 * freccia. Col padding puoi metterla anche all'altezza che vuoi.

 * I cdn servono per permettere di scaricare in cache delle librerie, così...
 * 19'
 * 
 * Utilità dubbia perché è complicato che tutti gli sviluppatori usino gli 
 * stessi cdn: Andrea preferisce il controllo pieno delle dipendenze e 
 * quindi scaricare tutto thr npm. 


 * background-size: cover
 * ^Per fare in modo che lo sfondo zoommi quando ingrandisci la finestra. 
 * 
 * 

  PART III
  6' rivediti
  17' rivediti, fino alla fine?
 * Ale Catucci ha scritto questo:
 * content: '';
    display: table;
    clear: both;
 * perché, cos'è?
 */

 /*
    30.12 video + notebook
    3' screen evolution
 * ...
 * Oltre a width e heigth in termini di risoluzione
 * dello schermo, potevamo distinguere: 
 * VIEWPORT: spazio utile del browser a rappresentare gli el
 * RISOLUZIONE
 * ORIENTAMENTO: verticale o orizzontale, landscape e portrait
 *
 * Nel file CSS stesso, possiamo usare il selettore @media per 
 * selezionare il media type, eg: 
    @media screen {
    
    }

    @media print {

    }

    @media not speech {
        //Regole non varranno per sintetizzatori, ma per screen e print
    }

    @media screen and print {

    }

    Questo è quello che ci interessa di più, di solito: 
    @media screen and (min-width: 900px) {
        //Classe che viene mostrata o nascosta quando il mio device ha 
        //una width di almeno 900px: la larghezza che il browser ha a
        //disposizione per mostrare gli el
    }

    Se invece devi anche stampare: 
    @media print {

    }

 * Ci sono mille valori e proprietà da specificare nelle (), ma quelle 
 * + necessarie sono min-width e min-height, o anche: vid. 13-14' e 17'
    @media screen (min-width: 900px) and (max-width: 1280) {
        //Classe che viene mostrata o nascosta quando il mio device ha 
        //una width di almeno 900px: la larghezza che il browser ha a
        //disposizione per mostrare gli el
    }
 * 
 * <mf-lt> = '<' '='?
 * ^Il ? significa che potresti mettere '=' ma anche non metterlo.
 * 
 * Le media query sono supportate solo da una versione di browser in 
 * poi. Ad oggi, però, qualsiasi device sarà in grado di supportarle 
 * (fin da Explorer 9, which thankfully has been changed to Explorer 11 
 * (quello subito prima di Edge) anche nelle aziende, recentemente: 
 * interpreta il codice come Chrome.
 * 
 * Se vuoi che le mq facciano un override delle regole scritte prima, 
 * aggiungi le mq in fondo alla pagina del CSS.

 * Dividere il layout in colonne lo si fa lavorando con le mq: 
 * "se qst el è lg-4, deve occupare quattro colonne su un 29'...
 * "se è md-6, allora ... non dovrà essere largo 4 colonne ma 6". 
 * Perché il mio layout potrà adattarsi a =/= risoluzioni dello schermo, 
 * e quindi a diversi dispositivi.
 * Non siamo noi sviluppatori a stabilire queste cose ma altri, tipo 
 * Edo, che analizzano un'interfaccia e la prototipizzano per tot 
 * device in tot modi, enfatizzando tot info.
 * 
 * Eg.: hamburger menu, il menu che si apre cliccando sulle tre lineette 
 * orizzontali
 * La gestione del menù a tendina prevede la rimozione o aggiunta di 
 * una classe (rendendo visibile il contenuto della tendina), quindi 
 * è meglio farlo con JS. Il menù in sé per sé ...33-34'
 * Queste cose è raro che le implementi tu perché sono già implementate 
 * nelle librerie che usi (tipo bootstrap) 
 ...
*/

 @media screen and (max-width: 1280px) {
    .hamburger-menu {
        float: left;
        font-size: 42px;
        margin: 12px 24px;
        color: #F8F8F8;
        cursor: pointer;
    }

    .menu-mobile {
        position: absolute;
        top: 0;
        left: 0;
    }
    /*^Questo top... (didn't check time)*/
}
/*
 * 1h55' ???

 1h14 ...
 */

 /*
 * 03/01 vid
 * 
 * Internet explorer è l'unico vero problema, almeno prima di 
 * Edge, per i floxbox: non si aggiorna automaticamente per la 
 * retrocompatibilità.

 * FLEXBOX

 * El flex = può ospitare el dimensionati non + thro float ma 
 * thr strumento flexbox.

 * flex direction: determina direz in cui determinare gli el:
 *  - row: orizzontalmente
 *  - column: verticalmente
 *  - row-reverse, column-reverse: opposite verso

 * flex-wrap: gestisce spazio intorno agli el, o consente agli 
 * el di essere all'interno di una sola riga
 *  - wrap: ammettono ritorno a capo
 *  - no-wrap: (default) ritorno a capo NON consentito: gli el 
 *    cambiano dimensioni a seconda del contenitore.
 * Gli el declinati con flex possono essere POSIZIONATI:
 *  - center
 *  - flex-start
 *  - flex-end
 *  - space-around: cerca di mettere dello spazio tra un el 
      e l'altro per poter "giustificare" gli el: lavora sulla 
      proprietà "justify content" (per allineam orizzontale)
 * 
 * align-items: allineamento verticale
 *  - center
 *  - flex-start
 *  - flex-end
 *  - stretch: el riempiono contenitore sul verticale
 * 
 * order: lavori su ordine di visualizzaz degli el: valori 
 *        numerici. 
 * flex-grow: specifica valore el con valori interi. Di default 
 *      è 0. Se metti 2, l'el sarà il doppio della sua dimensione 
 *      di default
 * flex-shrink: l'opposto di grow
 * (> il numero, > l'elemento ? 14')

 * 
 * BOOTSTRAP lavora con Flex dalla versione 5 in poi.

 * Flex si calcola automaticam la larghezza e ... 34'
 * Però non sempre il browser lo supporta: si fa il case study, 
 * si tracciano le storie dei papabili utenti, e quindi si capisce 
 * l'audience e se si possono usare certi strumenti o no. 
 * Devi essere in grado di stabilire quale strumento da usare 
 * nell'ottica della compatibilità.

 * border-radius, box-shadow: sono funzionalità di CSS3, quindi 
 * l'ultima versione è necessaria per un layout attraente. 


 III parte video, primi minuti
 ...
 
 */