<swiper
    [grabCursor]="true"
    [centeredSlides]="true"
    [navigation]="true"
    [slidesPerView]="4"
    [loop]="true"
    [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }"
    [pagination]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide *ngFor="let title of titles">
        <app-movie [title]="title"></app-movie>
    </ng-template>
  </swiper>